@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

.footer {
    background-color: #239ce2;
    color: white;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.footertext {
    font-family: 'Caveat', cursive;
    font-size: bold;
    font-size: 25px;
}

.footer p {
    margin: 0;
}